/*  RESET FILE */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*  RESET FILE END */

/*  FONTS */

/* roboto-regular - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/roboto-v20-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/roboto-v20-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* open-sans-regular - latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/open-sans-v18-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/open-sans-v18-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/open-sans-v18-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */ url("../fonts/open-sans-v18-latin-regular.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/open-sans-v18-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/open-sans-v18-latin-regular.svg#OpenSans") format("svg"); /* Legacy iOS */
}

/*  FONTS END */

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Open Sans";
  font-style: normal;
  font-size: 16px;
  line-height: 1.2;
  font-weight: normal;
  color: black;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

img {
  max-width: 100%;
  height: auto;
}

/* Header styles start */

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

.header_wrapper {
  display: flex;
  flex-wrap: wrap;

  justify-content: space-between;
  padding-top: 19px;
  align-items: center;
  text-align: center;
}

.header_list {
  display: flex;
  flex-wrap: wrap;
}

.header_item {
  margin-right: 61px;
}

.header_item:last-child {
  margin-right: 0;
}

.header_item:not(:last-child):hover,
.header_logo:hover {
  cursor: pointer;
  opacity: 0.8;
}

.header_logo-link {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}

.header_logo-pic {
  margin-right: 15px;
}

.header_logo-name {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 60px;
  text-transform: uppercase;
  color: #f7f7f7;
}

.header_logo a,
.header_nav a {
  text-decoration: none;
}

.header_link {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 23px;
  line-height: 60px;
  color: #f7f7f7;
}

#btn_sign-in {
  width: 120px;
  height: 50px;
  color: #f7f7f7;
  background: transparent;
  border: 2px solid #cd6326;
  box-sizing: border-box;
  border-radius: 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  line-height: 50px;
}

#btn_sign-in:hover {
  background: #cd6326;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

#btn_sign-in:active {
  background: #8f5613;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header_active {
  background: #134731;
  opacity: 0.9;
  transition: 0.2s linear;
  padding-bottom: 10px;
}

/* Header styles end */

/* Intro styles start */

.intro {
  min-height: 780px;
  background: url(../img/intro-bg.jpg) no-repeat center;
  background-size: cover;
  padding-top: 200px;
}

.intro_title {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 72px;

  letter-spacing: 2px;

  color: #cd6326;

  max-width: 199px;
  max-height: 72px;
  margin-bottom: 51px;
}

.intro_subtitle {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;

  color: #f7f7f7;

  max-width: 274px;
  max-height: 108px;

  margin-bottom: 49px;
}

.btn_intro {
  width: 160px;
  height: 60px;

  background: #cd6326;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 23px;
  line-height: 27px;

  text-align: center;

  color: #f7f7f7;
}

.btn_intro:hover {
  background: #e39128;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.btn_intro:active {
  background: #8f5613;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* Intro styles end */

/*Articles style start*/

.articles {
  background: #cccccc;
  min-height: 1368px;
}

.articles_header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;

  padding-top: 120px;
}

.articles_title {
  width: 100%;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 72px;

  text-align: center;

  color: #333333;
  margin-bottom: 20px;
}

.articles_subtitle {
  width: 100%;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;

  text-align: center;

  color: #666666;
  margin-bottom: 120px;
}

.articles-slider {
  height: 360px;
  margin-bottom: 240px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.articles-slider_arrow {
  width: 30px;
  height: 70px;
}

.articles-slider_arrow:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.articles-slider_allcards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 60px;
}

.articles-slider_card {
  height: 360px;
  width: 300px;
}

.articles-slider_card:hover {
  cursor: pointer;
  transform: scale(1.1);
}

#card_1 {
  background: url(../img/articles-slider_1.jpg) no-repeat center;
  background-size: cover;
}

#card_2 {
  background: url(../img/articles-slider_2.jpg) no-repeat center;
  background-size: cover;
}

#card_3 {
  background: url(../img/articles-slider_3.jpg) no-repeat center;
  background-size: cover;
}

.article-slider_card-texts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.articles-slider_card_title {
  width: 100%;
  text-align: center;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 36px;

  text-align: center;

  color: #f7f7f7;
  padding-top: 247px;
}

.article-slider_card-subtitle {
  width: 100%;
  text-align: center;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 27px;

  text-align: center;

  color: #f7f7f7;
  padding-top: 10px;
}

.email-form_title {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 60px;

  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 27px;
  line-height: 40px;

  text-align: center;

  color: #333333;
}

.email-form_info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.email-form_field {
  border: 0;
  border: 1px solid #666666;
  width: 510px;
  height: 60px;
  padding-left: 15px;
  padding-right: 15px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 23px;
  line-height: 27px;
  display: flex;
  align-items: center;
  background: transparent;
}

.email-form_field::placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 23px;
  line-height: 27px;
  display: flex;
  align-items: center;
  background: transparent;
}

.email-form_btn {
  width: 120px;
  height: 60px;
  padding: 15px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 23px;
  line-height: 27px;
  color: #f7f7f7;
  background: #cd6326;
  border: 1px solid #cd6326;
  border-radius: 0px 5px 5px 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.email-form_btn:hover {
  background: #e39128;
  border: 1px solid #e39128;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.email-form_btn:active {
  background: #8f5613;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/*Articles style end*/

/*Footer style start*/

.footer {
  min-height: 360px;
  background: url(../img/footer-bg.jpg) no-repeat center;
  background-size: cover;
  padding-top: 150px;
}

.footer_item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.footer_logo {
  width: 33.3%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.footer-logo-name {
  padding-left: 15px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 60px;

  text-transform: uppercase;

  color: #f7f7f7;
}

.footer_logo:hover,
.footer_menu-item:hover,
.footer_social-item:hover {
  cursor: pointer;
  opacity: 0.8;
}

.footer_nav {
  width: 33.4%;
}

.footer_menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer_menu-item-link {
  text-decoration: none;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 23px;
  line-height: 60px;

  color: #f7f7f7;
}

.footer_links {
  width: 33.3%;
}

.footer_social {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
}

.footer_social-item {
  padding-left: 27px;
}

.footer_social-item:first-child {
  padding-left: 0;
}

.footer_social-logo {
  max-width: 40px;
  max-height: 40px;
}

/*Footer style end*/
